#!/usr/bin/env bash

# SPDX-FileCopyrightText: 2025 Norbert Melzer
# SPDX-FileContributor: Norbert Melzer
#
# SPDX-License-Identifier: MIT

watch_file flake.nix flake.lock package.json yarn.lock nix/*.nix

use flake
