---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((post) => ({
    params: { slug: post.slug, date: post.data.date },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<h1>{post.data.title}</h1>

<Content />
