:root {
  --article-padding: 5px;
  --radius-med: 15px;
  --radius-sml: calc(var(--radius-med) / 2);
}

main {
  width: var(--content-width);
  font-size: 14px;
}

main h1 {
  width: var(--box-width);
  position: relative;
  left: calc((var(--content-width) - var(--box-width)) / 2);
  font-weight: bold;
  font-size: 300%;
  @apply text-center;
}

main h2 {
  width: var(--box-width);
  position: relative;
  left: calc(
    (var(--content-width) - var(--box-width)) / 2 - var(--article-padding)
  );
  font-weight: bold;
  font-size: 200%;
  margin-top: 1em;
  @apply text-center;
}

div.hero {
  position: relative;
  width: var(--box-width);
  left: calc((var(--content-width) - var(--box-width)) / 2);
  margin-bottom: -200px;
  z-index: -1;
  /* transform: scale(0.5); */
  /* 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em; */
}

div.hero img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-med) var(--radius-med) 0 0;
}

div.hero p {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 0 var(--radius-med) 0 var(--radius-sml);
}

main article {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: var(--article-padding);
  border-radius: var(--radius-sml);
}

article pre {
  --padding: 10px;
  width: var(--box-width);
  position: relative;
  padding: var(--padding);
  left: calc(
    (var(--content-width) - var(--box-width)) / 2 - var(--article-padding)
  );
  border-radius: var(--radius-med);
  margin: var(--padding) 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
