@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content-width: 650px;
  --box-width: calc(var(--content-width) * 1.2);
  --radius-med: 15px;
  --radius-sml: calc(var(--article-radius-med) / 2);
}
