<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="w-1/1 md:w-[1024px] m-auto md:border-4 rounded-[12px]">
      <div class="md:flex">
        <div
          class="w-1/1 border-4 p-1 rounded-[12px] md:w-4/5 md:m-1"
          id="main"
        >
          {{ content }}
        </div>
        <nav
          class="w-1/1 border-4 mt-1 p-1 rounded-[12px] md:w-1/5 md:m-1"
          id="side-nav"
        >
          <a href="/blog/">Blog</a>
        </nav>
      </div>
      <footer class="w-1/1 border-4 mt-1 p-1 rounded-[12px] md:m-1" id="bottom">
        Placeholder (Footer)
      </footer>
    </div>
  </body>
</html>
