---
export interface Props {
    name: string;
    nick?: string;
    href?: string;
}

const { name, nick, href } = Astro.props;
---

<>{href ? <a {href}>{nick?<abbr title={name}>{nick}</abbr>:{name}}</a> : name}</>