---
import { tagCount } from '@nz-scripts/tags';

import BlogHeader from '@nz-components/BlogHeader.astro';
import TagCloud from '@nz-components/TagCloud.astro';
---

<html lang="en">
	<head>
		<script src="https://kit.fontawesome.com/dea38d5462.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<BlogHeader />
		<div class="mx-auto max-w-[65em] px-[2rem] w-full">
			<main class="mt-[4rem] mb-[8rem] mx-auto">
				<section class="pb-[4rem] mb-[2rem]">
					<h1 class="latest">NobbZ's Blog - tags</h1>
					<p>
						There are the following {tagCount} tags used in this blog:
					</p>
				</section>

				<section aria-label="Tag list">
					<TagCloud />
				</section>
			</main>
		</div>
	</body>
</html>
