---
import NobbzDev from '@nz-layouts/NobbzDev.astro';
import type { Content } from '@nz-layouts/NobbzDev.astro';
import { getTagCount } from '@nz-scripts/tags';

import TagCloud from '@nz-components/TagCloud.astro';

const content: Content = {
	title: 'Taglist',
	description: "Tags available on NobbZ' blog.",
};

const tagCount = await getTagCount();
---

<NobbzDev {content}>
	<div class="mx-auto max-w-[65em] px-[2rem] w-full">
		<main class="mt-[4rem] mb-[8rem] mx-auto">
			<section class="pb-[4rem] mb-[2rem]">
				<h1 class="latest">NobbZ's Blog - tags</h1>
				<p>
					There are the following {tagCount} tags used in this blog:
				</p>
			</section>

			<section aria-label="Tag list">
				<TagCloud />
			</section>
		</main>
	</div>
</NobbzDev>
