---
// TS Imports
import { allPosts } from '@nz-scripts/posts';
import _ from 'lodash';

// Component Imports
import BlogPostPreview from '@nz-components/BlogPostPreview.astro';
import NobbzDev from '@nz-layouts/NobbzDev.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "NobbZ' Blog";
let description = 'This, that, and other things.';

// Data Fetching: List all Markdown and Astro posts in the repo.

const sortedPosts = [...allPosts].sort(
	(a, b) =>
		new Date(b.frontmatter.publishDate).valueOf() -
		new Date(a.frontmatter.publishDate).valueOf()
);

const { content: oldContent } = Astro.props;
const content = _.merge(oldContent, { title: 'Tags' });
---

<NobbzDev {content}>
	<main class="mt-16 mb-32">
		<section class="pb-16 mb-8 border-solid border-b-4 border-[color:var(--theme-divider)]">
			<h1 class="m-0 text-[2.5rem] font-bold">{title}</h1>
			<p class="m-0">{description}</p>
		</section>
		<section aria-label="Blog post list">
			{sortedPosts.map((p) => <BlogPostPreview post={p} />)}
		</section>
	</main>
</NobbzDev>
