---
import NobbzDev from "../../layouts/NobbzDev.astro";
---

<NobbzDev title="Imprint">
  <h1
    class:list={[
      "p-1",
      "text-4xl",
      "font-extrabold",
      "text-[--highlight-color]",
    ]}
  >
    Imprint
  </h1>

  <p class:list={["m-1"]}>
    <em>Norber Melzer</em><br />
    Fährenkamp 18<br />
    22880 Wedel<br />
    Germany
  </p>

  <p class:list={["m-1"]}>
    <em>Telefon:</em>
    +49 (0)841 89-0
  </p>

  <p class:list={["m-1"]}>
    <em>E-Mail:</em>
    nmelzer@nobbz.dev
  </p>

  <p class:list={["m-1"]}><em>USt-ID</em>: DE342446808</p>
</NobbzDev>
