---
// SPDX-FileCopyrightText: 2025 Norbert Melzer
// SPDX-FileContributor: Norbert Melzer
// 
// SPDX-License-Identifier: MIT

export interface Props {
  href: string;
  disabled?: boolean;
  spacer?: boolean;
}

const { href, disabled, spacer } = Astro.props;

const enabled = !disabled;

let classes = [];
if (spacer) {
  classes.push("mb-4");
}
---

<li class:list={["text-center", "p-2", ...classes]}>
  {
    enabled ? (
      <a href={href}>
        <slot />
      </a>
    ) : (
      <a>
        <s>
          <slot />
        </s>
      </a>
    )
  }
</li>
