---
---

<style>
	div {
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		background-color: #f0f7fb;
		background-image: url(../Images/icons/Pencil-48.png);
		background-position: 9px 0px;
		background-repeat: no-repeat;
		border: solid 1px #3498db;
		border-radius: 6px;
		line-height: 18px;
		overflow: hidden;
		padding: 15px 60px;
	}
</style>

<div><slot /></div>
