---
// SPDX-FileCopyrightText: 2025 Norbert Melzer
// SPDX-FileContributor: Norbert Melzer
//
// SPDX-License-Identifier: MIT

export type Props = {
  href?: string;
};

const { href } = Astro.props;

const active = !!href;
---

<div
  class:list={[
    "border-2",
    "border-ctp-surface2",
    "rounded-md",
    "p-1",
    "m-1",
    active
      ? "bg-ctp-crust hover:bg-ctp-surface2 hover:shadow-xl hover:shadow-ctp-base text-ctp-blue"
      : "bg-ctp-overlay0 text-ctp-overlay2 opacity-40",
  ]}
>
  <a href={href}><slot /></a>
</div>
