---
import { Icon } from 'astro-icon';

import Stylable, { fromProps } from '@nz-scripts/stylable';

export interface Props extends Stylable {
	name: string;
}

const { name } = Astro.props;

const styles = fromProps(Astro.props);
---

<a href={`/tags/${name}`} {...styles}><Icon class="inline h-[1em]" name="mdi-tag" />{name}</a>
